<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Women Who Code - Basic Angular</title>
  <link rel="stylesheet" href="assets/vendor/materialize/dist/css/materialize.min.css"/>
</head>

<script type="text/javascript" src="assets/vendor/angular/angular.js"></script>
<script type="text/javascript" src="main.js"></script>
<body ng-app="stopWatchIndex">

<div ng-controller="mainController as mainCtrl">
  <h1>Contents</h1>
  <a ng-href="{{link.url}}"
     ng-repeat="link in mainCtrl.tableOfContents">
    <h3>{{link.label}}</h3>
  </a>


  <h1>Completed Contents</h1>
  <a ng-repeat="link in mainCtrl.completeContents"
    ng-href="{{link.url}}">
    <h3>{{link.label}}</h3>
  </a>
</div>

</body>
</html>